<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test on DemoQA">
    <listeners>
        <listener class-name="Listeners.ExtentTestNGIReporterListener" />
    </listeners>
    <test name="Regression Suit #1">
        <classes>
            <class name="hamdan.bankOfAmericaTest"/>
<!--            <class name="DemoQAHomePageTest"/>-->
<!--            <class name="Misc_Exercise.BrokenLinksImagesTest"/>-->
<!--            <class name="Misc_Exercise.DynamicWaitExample"/>-->
<!--            <class name="Misc_Exercise.DynamicPropertiesTest"/>-->
<!--            <class name="SelectableGridPageTest"/>-->
<!--            <class name="FileDownloadTest_1"/>-->
<!--            <class name="FileUploadTest"/>-->
<!--            <class name="JsAlertTest"/>-->
<!--            <class name="RadioButtonTest"/>-->
<!--            <class name="ReadExcelForTestClass"/>-->
<!--            <class name="TextBoxTest"/>-->
<!--            <class name="TextBoxTest_UsingExcel"/>-->
        </classes>
    </test>
</suite>