<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test on DemoQA">
    <listeners>
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
    </listeners>

    <test name="Regression Suit #1">
        <classes>
            <class name="DemoQA.CheckboxPage"/>
            <class name="DemoQA.DemoQAHomePageTest"/>
            <class name="DemoQA.BrokenLinksImagesTest"/>
            <class name="Misc_Exercise.DynamicWaitExample"/>
            <class name="DemoQA.DynamicPropertiesTest"/>
            <class name="DemoQA.SelectableGridPageTest"/>
            <class name="DemoQA.FileDownloadTest_1"/>
            <class name="DemoQA.FileUploadTest"/>
            <class name="DemoQA.JsAlertTest"/>
            <class name="DemoQA.RadioButtonTest"/>
            <class name="Misc_Exercise.ReadExcelForTestClass"/>
            <class name="DemoQA.TextBoxTest"/>
            <class name="DemoQA.TextBoxTest_UsingExcel"/>
            <class name="BoFA.BOFA_CCApplicationTest"></class>
        </classes>
    </test>
</suite>